<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICommandExecutorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49001/ICommandExecutorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommandExecutorService"
                contract="ServiceReference1.ICommandExecutorService" name="WSHttpBinding_ICommandExecutorService">
                <identity>
                    <userPrincipalName value="OlegTower\Oleg" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>