<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:49001/ICommandExecutorService"      
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommandExecutorService"
        contract="ServiceReference1.ICommandExecutorService" name="WSHttpBinding_ICommandExecutorService" />
    </client>

    <bindings>
      <wsHttpBinding>       
        <binding name="WSHttpBinding_ICommandExecutorService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  
</configuration>