<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <services>
      <!-- Define the service endpoints. This section is optional in the new  
    default configuration model in .NET Framework 4. -->
      <service name="CommandExecutor.CommandExecutorService"
               behaviorConfiguration="CommandExecutorServiceBehavior">
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:49001/ICommandExecutorService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="CommandExecutor.ICommandExecutorService"/>

        <endpoint address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />
      </service>
    </services>    
  

    <behaviors>
      <serviceBehaviors>
        <behavior name="CommandExecutorServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />          
        </behavior>
      </serviceBehaviors>
    </behaviors>   

  </system.serviceModel>
  
</configuration>